@using BlazorWave.Data.Models;

<style>
    .track-number {
        padding-right:20px;
    }

    .album-tracks {
        width:100%;
        padding:60px;
    }

    .album-copyright {
        text-align:center;
        margin-top:40px;
    }

    .track-row {
      display:flex;
      justify-content:space-between;
    }

    .track-row div {
        display:flex;
    }

    .album-info {
        margin-bottom:25px;
    }

    .track-speed {
        margin-right:20px;
    }
</style>

<div>
    <div class="album-info flex-row">
        <img src="/images/albumart.jpg" />
        <div>
            <div class="media-information">
                <h3>@Album.Title</h3>
                <h4>@Album.Artist</h4>
            </div>
            <div class="media-options">
                <button class="ui icon button play">
                    <i class="play icon"></i>
                </button>
                <button class="ui icon button play">
                    <i class="random icon"></i>
                </button>
                <button class="ui icon button play">
                    <i class="share alternate icon"></i>
                </button>
                </div>
                    <p style="margin-left:20px;">
                        @(Album.Released != null && Album.Released.Year != 0001 ? "Released " + Album.Released.ToLongDateString() + " - " : "") 
                        @if(Album.Tracks.Count > 0)
                        {
                            <span>@(Album.Tracks.Count.ToString() + " ")</span>
                            @if(Album.Tracks.Count > 1)
                            {
                                <span>Songs</span>
                            }
                            else
                            {
                                <span>Song</span>
                            }
                        }
                    </p>
            </div>
    </div>
    <div class="album-tracks">
        @if(Album != null)
            for (int i = 0; i < Album.Tracks.Count; i++)
            {
                <div class="track-row">
                    <div>
                        <div class="track-number">@(i + 1)</div>
                        <div class="track-name">@Album.Tracks[i].Title</div>
                    </div>
                    <div>
                        <div class="track-speed">Normal</div>
                        <div class="track-time">1:56</div>
                    </div>
                </div>
            }
    </div>
    <p class="album-copyright">©2005 Oasis Chorale</p>
</div>

@code {
    [Parameter]
    public Album Album { get; set; } = new Album();
}
